/** Variables **/
:root {
  --backgroundColor: #f6f8f9;
  --lightRed: #fa6980;
  --white: #fff;
  --textColor: #343638;
  --textColor2: #202124;
  --textColorLight: #a6adb4;
  --hrColor: #ebeded;
  --footerTextColor: #cbd0d3;
}

/** Basic style **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, acumin-pro, sans-serif;
}

/** Global style **/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/** Navigation **/
.burger_menu {
  display: none;
}
nav {
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
}

.logo {
  color: var(--lightRed);
  text-decoration: none;
  font-size: 13;
  font-weight: bold;
  text-transform: uppercase;
  margin: 18px 0 0 20px;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li span {
  display: none;
}

nav ul li a {
  color: var(--textColor);
  font-size: 11;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
  margin-right: 22px;
}

nav ul li a.profile {
  display: none;
}

.active {
  opacity: 1;
  margin-right: 27px;
}

.nav_icon_photo {
  margin: 10px 20px 10px 40px;
}

/** Navigation end **/

/** Header **/

header {
  display: flex;
  height: 600px;
  width: 100%;
}

.header_image {
  background-image: url(../images/img/header_image.png);
  background-position: center;
  background-size: cover;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header_headline_wrapper {
  padding: 177px 240px 175px 320px;
}

.header_headline_wrapper h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 40px;
}

.header_headline_wrapper h1:after {
  display: block;
  content: '';
  height: 2px;
  margin-top: 40px;
  background-color: var(--white);
}

.header_headline_wrapper h3 {
  font-size: 24px;
  font-weight: bold;
}

.header_headline_wrapper p {
  font-size: 16px;
  margin: 10px 0 30px;
}

.btn {
  background-color: var(--lightRed);
  border: 1px solid var(--lightRed);
  border-radius: 5px;
  color: var(--white);
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 16px 8px;
  outline: none;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--lightRed);
  border: 1px solid var(--lightRed);
}

.slider_card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 100px 100px 101px;
}

.slider_card_title_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}

.slider_card_title_wrapper h2 {
  color: var(--textColor2);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.arrow_wrapper {
  display: flex;
}

.back_arrow {
  padding-right: 40px;
}

.card_body.one {
  padding-bottom: 39px;
}

.card_body.one::before {
  display: block;
  content: '';
  height: 2px;
  background-color: var(--hrColor);
  margin-bottom: 40px;
}

.card_body h4 {
  color: var(--lightRed);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 20px;
}

.card_body h6 {
  color: var(--textColor2);
  font-size: 16px;
  font-weight: bold;
}

.card_body p {
  color: var(--textColorLight);
  font-size: 16px;
  font-family: acumin-pro;
  padding: 10px 0;
}

.time_icon_wrapper {
  display: flex;
  align-items: center;
}

span {
  font-size: 13px;
  color: var(--textColorLight);
}

.span_text {
  margin-left: 10px;
  font-family: Helvetica;
}
/** Header end **/

/** Trending **/
main {
  background-color: var(--backgroundColor);
  height: auto;
  width: 100%;
  padding-bottom: 104px;
}

.container {
  padding: 0 320px;
}

.slider_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 32px 0 40px;
  width: 100%;
}

.slider_title h2 {
  font-size: 24px;
  font-weight: bold;
}

.slider_wrapper {
  display: flex;
  height: auto;
}

.main_slider_card {
  flex-grow: 1;
  background-color: var(--white);
  border-radius: 6px;
  margin-right: 40px;
}

div .main_slider_card:nth-child(3) {
  margin-right: 0;
}

.slider_image img {
  width: 100%;
}

.slider_text {
  padding: 40px;
}

.slider_text h3 {
  font-size: 16px;
  font-weight: bold;
}

.slider_text p {
  color: var(--textColorLight);
  font-size: 13px;
  font-family: acumin-pro;
  padding: 10px 0;
}
/** Trending end **/

/** Cards **/
.card_wrapper {
  height: 900px;
  display: flex;
}

.slider_title.cards {
  padding: 40px 0 36px;
}

.large_card_wrapper {
  flex-grow: 1;
  margin-left: -15px;
}

.large_card {
  border-radius: 6px;
  margin-right: 55px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.large_card.one {
  background-image: url(../images/cards/large_img_1.png);
  background-size: cover;
  background-position: center;
  height: 430px;
  margin-bottom: 40px;
}

.large_card.two {
  background-image: url(../images/cards/large_img_2.png);
  background-size: cover;
  background-position: center;
  height: 430px;
}

.large_card h5 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 40px 0 0 40px;
}

.large_card_body_text {
  padding: 232px 40px 40px 40px;
}

.large_card_body_text h3 {
  font-size: 24px;
  font-weight: bold;
}

.large_card_body_text p {
  font-size: 16px;
  padding: 10px 0;
}

div .small_card:nth-child(2) {
  padding: 38px 0;
}

.small_card h4 {
  font-size: 16px;
  font-family: acumin-pro;
  color: var(--textColor2);
  padding: 10px 0 10px;
}

.span_text span {
  text-decoration: underline;
}
/** Cards End **/

/** Footer **/
footer {
  height: 200px;
  background-color: var(--textColorLight);
  display: flex;
  justify-content: space-between;
}

div.footer_wrapper:first-child {
  display: flex;
  padding: 56px 0 60px;
}

div.footer_wrapper:first-child .logo {
  color: var(--white);
  font-family: acumin-pro;
  margin-right: 53px;
  margin-left: 0;
  margin-top: 0;
}

div.footer_wrapper:first-child li {
  margin-right: 48px;
  margin-bottom: 6px;
}

div.footer_wrapper:first-child a {
  color: var(--footerTextColor);
  font-size: 13px;
}

.footer_wrapper input[type='email'] {
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: var(--white);
  margin-bottom: 16px;
  height: 40px;
  width: 260px;
  padding-left: 10px;
  outline: none;
}

::placeholder {
  color: var(--footerTextColor);
  padding: 14px 205px 16px 20px;
  opacity: 0.5;
  font-size: 13px;
}

div.footer_wrapper:nth-child(2) {
  padding: 56px 0 60px;
}

div.footer_wrapper:nth-child(2) span {
  position: relative;
}

div.footer_wrapper:nth-child(2) span img {
  position: absolute;
  right: 15px;
  top: 1px;
}

div.footer_wrapper:nth-child(2) p {
  font-size: 11px;
  color: var(--footerTextColor);
}
div.footer_wrapper:nth-child(3) {
  padding: 56px 0 60px;
}

div.footer_wrapper:nth-child(3) a {
  margin-left: 18px;
}
/** Footer End **/

/** Breakpoints **/

/** Desktop breakpoint 769px - 1440px **/
@media screen and (max-width: 1440px) {
  /** Navigation **/
  .burger_menu {
    display: none;
  }

  /** Navigation end **/

  /** Header **/
  header {
    background-color: var(--backgroundColor);
  }
  .header_image {
    margin-right: 21px;
  }
  .header_headline_wrapper {
    padding: 177px 100px 175px 140px;
  }
  .slider_card {
    padding: 98px 141px 103px 79px;
  }
  .slider_title {
    padding: 40px 0;
  }
  .slider_title.cards {
    padding: 40px 0;
  }
  /** Header End **/

  /** Trending **/
  main {
    padding-bottom: 100px;
  }
  .container {
    padding: 0 140px;
  }
  /** Trending End **/

  /** Cards **/
  .large_card_wrapper {
    margin-left: 0;
  }
  /** Cards End **/
}

/** Tablet breakpoint 376px - 768px **/
@media screen and (max-width: 768px) {
  /** Navigation **/
  .burger_menu {
    display: none;
  }
  /** Navigation end **/

  /** Header **/
  header {
    flex-direction: column;
    height: auto;
  }
  .header_headline_wrapper {
    padding: 79px 80px 82px;
  }
  .header_headline_wrapper h1 {
    margin-bottom: 30px;
  }
  .header_headline_wrapper h1:after {
    margin-top: 36px;
  }
  .header_headline_wrapper h3 {
    font-size: 24px;
    font-weight: bold;
  }
  .header_headline_wrapper p {
    margin: 9px 0 30px;
  }
  .slider_card {
    align-items: baseline;
    margin: 0;
    padding: 40px 80px 80px;
  }
  .card_body {
    width: 100%;
  }
  .card_body.one {
    margin-right: 40px;
  }
  .card_body.one::before {
    width: 216%;
    margin-bottom: 40px;
  }
  .card_body_wrapper {
    display: flex;
    align-items: baseline;
  }
  /** Header End **/

  /** Trending **/
  main {
    padding-bottom: 80px;
  }
  .container {
    padding: 0 80px;
  }

  .main_slider_card {
    margin-right: 0px;
  }

  div .main_slider_card:nth-child(2) {
    margin-left: 40px;
  }

  div .main_slider_card:nth-child(3) {
    display: none;
  }
  /** Trending End **/

  /** Cards **/
  .card_wrapper {
    height: auto;
    display: block;
  }
  .large_card {
    margin-right: 0;
  }
  .large_card.one {
    margin-bottom: 40px;
  }
  .small_card_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  .small_card {
    padding-top: 40px;
  }
  .small_card img {
    width: 100%;
  }

  div .small_card:nth-child(2) {
    padding: 40px 0 0 40px;
  }
  div .small_card:nth-child(3) {
    display: none;
  }
  /** Cards End **/

  /** Footer **/
  footer {
    height: auto;
    flex-wrap: wrap;
  }

  div.footer_wrapper:first-child {
    width: 100%;
    padding: 56px 0 50px;
  }

  div.footer_wrapper:first-child .logo {
    margin-right: auto;
  }

  div.footer_wrapper:first-child ul {
    margin-left: auto;
  }

  div.footer_wrapper:first-child li {
    margin-right: 0;
  }

  div.footer_wrapper:nth-child(2) {
    padding: 0px 0 60px 0;
  }
  div.footer_wrapper:nth-child(3) {
    padding: 0px 0 60px 0;
  }

  div.footer_wrapper:nth-child(3) a {
    position: relative;
    top: 47px;
  }
  /** Footer End **/
}

/** Mobile breakpoint max-width: 375 **/
@media screen and (max-width: 375px) {
  /** Navigation **/
  .burger_menu {
    display: block;
  }

  .logo {
    color: var(--textColorLight);
    font-size: 13px;
  }

  nav {
    padding: 16px;
  }

  nav ul {
    position: fixed;
    left: 0px;
    top: 50px;
    z-index: 1;
    height: 420px;
    background: var(--backgroundColor);
    width: 287px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: baseline;
    transform: translateX(-287px);
    transition: 0.7s ease-in-out;
  }
  .nav_active {
    transform: translateX(0);
  }

  nav ul li span {
    display: inline-block;
    margin-left: 40px;
  }
  nav ul li a {
    font-size: 11px;
    margin-right: 0;
    margin-left: 30px;
    margin-bottom: 40px;
  }

  nav ul li a.profile {
    display: inline-block;
    margin-left: 0;
  }

  .active {
    opacity: 1;
    margin-right: 0;
    margin-left: 30px;
  }

  .nav_icon_photo {
    margin: 0 30px 0 40px;
  }

  .nav_icon_photo {
    height: 16px;
    width: 16px;
    padding-right: 0;
  }
  /** Navigation end **/

  /** Header **/
  .header_headline_wrapper {
    padding: 40px 24px;
  }
  .header_headline_wrapper h1 {
    margin-bottom: 40px;
  }
  .header_headline_wrapper h1:after {
    margin-top: 40px;
  }
  .header_headline_wrapper p {
    margin: 20px 0 20px;
  }
  .card_body_wrapper {
    flex-direction: column;
  }
  .slider_card {
    padding: 40px 24px;
  }
  .slider_card_title_wrapper {
    margin-bottom: 40px;
  }
  .card_body.one {
    padding-bottom: 40px;
  }
  .card_body.one::before {
    width: 100%;
    margin-bottom: 40px;
  }
  .card_body h4 {
    padding-bottom: 20px;
  }

  .card_body h6 {
    padding-bottom: 10px;
  }

  .card_body p {
    padding: 0 0 10px 0;
  }
  /** Header end **/

  /** Trending **/
  main {
    padding-bottom: 0;
  }
  .container {
    padding: 0 24px;
  }
  .slider_wrapper {
    flex-direction: column;
    margin-bottom: 20px;
  }
  div .main_slider_card:nth-child(2) {
    margin-left: 0;
    margin-top: 40px;
  }
  .slider_text {
    padding: 32px 24px;
  }
  /** Trending end**/

  /** Cards **/
  .card_wrapper {
    margin-top: 20px;
  }
  .large_card.one {
    height: 300px;
  }
  .large_card.two {
    height: 300px;
    margin-bottom: 40px;
  }

  .large_card h5 {
    padding: 32px 0 0 24px;
  }
  .large_card_body_text {
    padding: 56px 24px 32px;
  }
  .large_card_body_text p {
    padding: 10px 0 10px 0;
  }
  .small_card_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .small_card {
    padding-top: 0px;
  }
  div .small_card:nth-child(1):before {
    display: block;
    content: '';
    height: 2px;
    background-color: var(--hrColor);
    margin-bottom: 40px;
  }
  div .small_card:nth-child(2) {
    padding: 40px 0;
  }
  div .small_card:nth-child(3) {
    display: block;
    margin-bottom: 24px;
  }
  /** Cards end **/

  /** Footer **/

  footer {
    display: none;
    height: 155px;
    width: 287px;
    position: relative;
    top: 420px;
    left: 0;
    /* transition: 0.7s ease-in-out; */
    /* transform: translateX(-287px); */
  }

  /* .footer_active {
    transform: translateX(0);
  } */

  div.footer_wrapper:first-child {
    padding: 0;
  }
  div.footer_wrapper:first-child ul {
    margin-right: 0;
    margin-left: 0;
    padding-top: 10px;
  }

  div.footer_wrapper:first-child .logo {
    display: none;
  }

  div.footer_wrapper:first-child ul:nth-child(2) {
    display: none;
  }
  div.footer_wrapper:first-child ul:nth-child(3) {
    padding-right: 70px;
    padding-left: 17px;
    padding-bottom: 11px;
  }

  div.footer_wrapper:nth-child(2) {
    display: none;
  }
  div.footer_wrapper:nth-child(3) {
    padding: 0px 0 20px 0;
  }

  div.footer_wrapper:nth-child(3) a {
    top: 0;
    margin-right: 20px;
  }
  /** Footer end **/
}
