/** Variables **/
:root {
  --backgroundColor: #f6f8f9;
  --lightRed: #fa6980;
  --white: #fff;
  --textColor: #343638;
  --textColor2: #202124;
  --textColorLight: #a6adb4;
  --hrColor: #ebeded;
  --footerTextColor: #cbd0d3;
}

/** Basic style **/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

/** Global style **/
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

/** Navigation **/
nav {
  background-color: var(--backgroundColor);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 50px;
  padding: 10px;
}

.logo {
  color: var(--lightRed);
  text-decoration: none;
  font-size: 13;
  font-weight: bold;
  text-transform: uppercase;
}

nav ul {
  display: flex;
  align-items: center;
}

nav ul li a {
  color: var(--textColor);
  font-size: 11;
  font-weight: bold;
  text-transform: uppercase;
  opacity: 0.5;
  margin-right: 13px;
}

.active {
  opacity: 1;
  margin-right: 14px;
}

.nav_icon_photo {
  margin-left: 33px;
}

/** Header **/
header {
  display: flex;
  height: 600px;
  width: 100%;
}

.header_image {
  background-image: url(/images/img/header_image.png);
  background-position: center;
  background-size: cover;
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}

.header_headline_wrapper {
  padding: 88px 134px 96px 160px;
}

.header_headline_wrapper h1 {
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

.header_headline_wrapper h1:after {
  display: block;
  content: '';
  height: 2px;
  margin-top: 20px;
  background-color: var(--white);
}

.header_headline_wrapper h3 {
  font-size: 24px;
}

.header_headline_wrapper p {
  font-size: 16px;
  margin: 5px 0 16px;
}

.btn {
  background-color: var(--lightRed);
  border: 1px solid var(--lightRed);
  border-radius: 5px;
  color: var(--white);
  font-size: 11px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  padding: 7px 16px 8px;
  outline: none;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  cursor: pointer;
  background-color: var(--white);
  color: var(--lightRed);
  border: 1px solid var(--lightRed);
}

.slider_card {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 49px 50px 51px 50px;
}

.slider_card_title_wrapper {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.slider_card_title_wrapper h2 {
  color: var(--textColor2);
  text-transform: uppercase;
  font-size: 24px;
  font-weight: bold;
}

.arrow_wrapper {
  display: flex;
}

.back_arrow {
  padding-right: 18px;
}

.card_body.one {
  padding-bottom: 20px;
}

.card_body.one::before {
  display: block;
  content: '';
  height: 2px;
  background-color: var(--hrColor);
  margin-bottom: 21px;
}

.card_body h4 {
  color: var(--lightRed);
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

.card_body h6 {
  color: var(--textColor2);
  font-size: 16px;
  font-weight: bold;
  padding-bottom: 10px;
}

.card_body p {
  color: var(--textColorLight);
  font-size: 16px;
  padding: 6px 0;
}

.time_icon_wrapper {
  display: flex;
  align-items: center;
}

span {
  font-size: 13px;
  color: var(--textColorLight);
}

.span_text {
  margin-left: 5px;
  font-family: Helvetica;
}

/** Trending **/
main {
  background-color: var(--backgroundColor);
  height: auto;
  width: 100%;
  padding-bottom: 52px;
}

.container {
  padding: 0 160px;
}

.slider_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

.slider_title h2 {
  font-size: 24px;
  font-weight: bold;
}

.slider_wrapper {
  display: flex;
  height: auto;
}

.main_slider_card {
  flex-grow: 1;
  background-color: var(--white);
  border-radius: 6px;
  margin-right: 20px;
}

div .main_slider_card:nth-child(3) {
  margin-right: 0;
}

.slider_image img {
  width: 100%;
}

.slider_text {
  padding: 24px 40px 20px 20px;
}

.slider_text h3 {
  font-size: 16px;
  font-weight: bold;
}

.slider_text p {
  color: var(--textColorLight);
  font-size: 13px;
  padding: 4px 0 7px 0;
}

/** Cards **/
.card_wrapper {
  height: 900px;
  display: flex;
}

.large_card_wrapper {
  flex-grow: 1;
}

.large_card {
  border-radius: 6px;
  margin-right: 27px;
  color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.large_card.one {
  background-image: url(/images/cards/large_img_1.png);
  background-size: cover;
  background-position: center;
  height: 430px;
  margin-bottom: 40px;
}

.large_card.two {
  background-image: url(/images/cards/large_img_2.png);
  background-size: cover;
  background-position: center;
  height: 430px;
}

.large_card h5 {
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  padding: 19px 0 0 20px;
}

.large_card_body_text {
  padding: 0 28px 20px 20px;
}

.large_card_body_text h3 {
  font-size: 24px;
  font-weight: bold;
}

.large_card_body_text p {
  font-size: 16px;
  padding: 5px 0 6px 0;
}

.small_card_wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

div .small_card:nth-child(2) {
  padding: 20px 0;
}

.small_card h4 {
  font-size: 16px;
  color: var(--textColor2);
  padding: 9px 0 8px;
}

.span_text span {
  text-decoration: underline;
}

/** Footer **/
footer {
  height: 200px;
  background-color: var(--textColorLight);
  display: flex;
  justify-content: space-between;
}

.footer_wrapper {
  padding: 29px 0 31px;
}

div.footer_wrapper:first-child {
  display: flex;
}

div.footer_wrapper:first-child .logo {
  color: var(--white);
  margin-right: 33px;
}

div.footer_wrapper:first-child li {
  margin-right: 33px;
  margin-bottom: 6px;
}

div.footer_wrapper:first-child a {
  color: var(--footerTextColor);
  font-size: 13px;
}

.footer_wrapper input[type='email'] {
  background-color: transparent;
  border-radius: 6px;
  border: 2px solid rgba(255, 255, 255, 0.1);
  color: var(--white);
  margin-bottom: 7px;
  height: 40px;
  width: 260px;
  padding-left: 10px;
  outline: none;
}

::placeholder {
  color: var(--footerTextColor);
  padding: 6px 0 8px;
  opacity: 0.5;
  font-size: 13px;
}

div.footer_wrapper:nth-child(2) span {
  position: relative;
}

div.footer_wrapper:nth-child(2) span img {
  position: absolute;
  right: 15px;
  top: 1px;
}

div.footer_wrapper:nth-child(2) p {
  font-size: 11px;
  color: var(--footerTextColor);
}

div.footer_wrapper:nth-child(3) a {
  margin-left: 20px;
}
